@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition-property: color, background-color, border-color, box-shadow, filter;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 0s;
}