.notion {
    @apply text-neutral-900 dark:text-neutral-100 font-normal;
}

.notion > *,
.notion-page > *,
.notion-column > * {
    @apply py-2 px-0;
}

.notion-red {
    @apply text-red-500;
}

.notion-pink {
    @apply text-pink-500;
}

.notion-blue {
    @apply text-blue-500;
}

.notion-purple {
    @apply text-purple-500;
}

.notion-teal {
    @apply text-teal-500;
}

.notion-yellow {
    @apply text-yellow-500;
}

.notion-orange {
    @apply text-orange-500;
}

.notion-brown {
    @apply text-orange-800;
}

.notion-gray {
    @apply text-gray-500;
}

.notion-red_background {
    @apply bg-red-100 dark:bg-red-900;
}

.notion-pink_background {
    @apply bg-pink-100 dark:bg-pink-900;
}

.notion-blue_background {
    @apply bg-blue-100 dark:bg-blue-900;
}

.notion-purple_background {
    @apply bg-purple-100 dark:bg-purple-900;
}

.notion-teal_background {
    @apply bg-teal-100 dark:bg-teal-900;
}

.notion-yellow_background {
    @apply bg-yellow-100 dark:bg-yellow-900;
}

.notion-orange_background {
    @apply bg-orange-100 dark:bg-orange-800;
}

.notion-brown_background {
    @apply bg-orange-200 dark:bg-orange-900;
}

.notion-gray_background {
    @apply bg-gray-100 dark:bg-gray-900;
}

.notion-red_background_co {
    @apply bg-red-100 dark:bg-red-900 bg-opacity-30;
}

.notion-pink_background_co {
    @apply bg-pink-100 dark:bg-pink-900 bg-opacity-30;
}

.notion-blue_background_co {
    @apply bg-blue-100 dark:bg-blue-900 bg-opacity-30;
}

.notion-purple_background_co {
    @apply bg-purple-100 dark:bg-purple-900 bg-opacity-30;
}

.notion-teal_background_co {
    @apply bg-teal-100 dark:bg-teal-900 bg-opacity-30;
}

.notion-yellow_background_co {
    @apply bg-yellow-100 dark:bg-yellow-900 bg-opacity-30;
}

.notion-orange_background_co {
    @apply bg-orange-100 dark:bg-orange-800 bg-opacity-30;
}

.notion-brown_background_co {
    @apply bg-orange-200 dark:bg-orange-900 bg-opacity-30;
}

.notion-gray_background_co {
    @apply bg-gray-100 dark:bg-gray-900 bg-opacity-30;
}

.notion b {
    @apply font-bold;
}

.notion-title {
    @apply font-bold text-4xl mb-2 mt-8;
}

.notion-h1,
.notion-h2,
.notion-h3 {
    @apply font-bold p-1;
}

.notion-h1 {
    @apply text-3xl mt-6;
}

.notion-h1:first-child {
    @apply mt-0;
}

.notion-h2 {
    @apply text-2xl mt-4;
}

.notion-h3 {
    @apply text-lg mt-2 text-neutral-800 dark:text-neutral-200;
}

.notion-page-cover {
    @apply block object-cover w-full md:h-72 sm:h-64 h-48;
}

.notion-page {
    @apply w-full md:px-4 px-0;
}

.notion-page-offset {
    @apply mt-24;
}

span.notion-page-icon-cover {
    @apply h-20 w-20 text-7xl ml-0 inline-block;
}

span.notion-page-icon-offset {
    @apply -mt-10;
}

img.notion-page-icon-cover {
    @apply h-32 w-32 rounded m-2;
}

img.notion-page-icon-offset {
    @apply -mt-20;
}

.notion-full-width {
    @apply w-full px-10;
}

.notion-small-text {
    @apply text-sm;
}

.notion-quote {
    @apply whitespace-pre-wrap break-words border-l-2 border-current py-1 px-4 m-0 text-lg italic text-neutral-700 dark:text-neutral-300;
}

.notion-hr {
    @apply my-4 p-0 border-t border-neutral-200 dark:border-neutral-800;
}

.notion-link {
    @apply text-blue-600 underline;
}

.notion-blank {
    @apply bg-transparent h-4 my-0.5;
}

.notion-page-link {
    @apply flex no-underline text-neutral-800 dark:text-neutral-200 hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-colors h-8;
}

.notion-page-icon {
    @apply ml-0.5 mr-1;
}

img.notion-page-icon {
    @apply block object-cover w-5 h-5 rounded;
}

.notion-icon {
    @apply block w-4 h-4 text-neutral-500 dark:text-neutral-400;
}

.notion-page-text {
    @apply whitespace-nowrap overflow-hidden overflow-ellipsis font-medium border-b border-neutral-200 dark:border-neutral-800 mx-0 my-px;
}

.notion-inline-code {
    @apply text-blue-700 dark:text-blue-400 bg-neutral-100 dark:bg-neutral-800 rounded px-1 py-0.5 font-mono text-sm;
}

.notion-list {
    @apply mx-2 my-0 py-1;
}

.notion-list-disc {
    @apply my-0 pl-6 list-disc;
}
.notion-list-numbered {
    @apply my-0 pl-6 list-decimal;
}

.notion-list-disc li {
    @apply pl-2;
}

.notion-list-numbered li {
    @apply pl-2;
}

.notion-list li {
    @apply whitespace-pre-wrap break-words;
}

.notion-list > .notion-text {
    @apply m-0 p-0;
}

.notion-checkbox {
    @apply accent-blue-600;
}

.notion-asset-wrapper {
    @apply max-w-full mx-auto my-2;
}

.notion-asset-wrapper > img {
    @apply max-w-full;
}

.notion-asset-wrapper iframe {
    @apply border-none;
}

.notion-text {
    @apply whitespace-pre-wrap p-0.5;
}

.notion-block {
    @apply p-0.5;
}

.notion .notion-code {
    @apply text-sm font-mono block rounded-md;
}

.notion-column {
    @apply py-3;
}

.notion-column > *:first-child {
    @apply pt-0 px-0;
}

.notion-column > *:last-child {
    @apply pb-0 px-0;
}

.notion-row {
    @apply flex overflow-hidden;
}

/* Sorry, I'm lazy */
/* TODO Migrate other styles to tailwind*/

.notion-bookmark {
    margin: 4px 0;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid rgba(55, 53, 47, 0.16);
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    user-select: none;
}

.notion-bookmark > div:first-child {
    flex: 4 1 180px;
    padding: 12px 14px 14px;
    overflow: hidden;
    text-align: left;
    color: rgb(55, 53, 47);
}

.notion-bookmark-title {
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 24px;
    margin-bottom: 2px;
}

.notion-bookmark-description {
    font-size: 12px;
    line-height: 16px;
    opacity: 0.6;
    height: 32px;
    overflow: hidden;
}

.notion-bookmark-link {
    display: flex;
    margin-top: 6px;
}

.notion-bookmark-link > img {
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-right: 6px;
}

.notion-bookmark-link > div {
    font-size: 12px;
    line-height: 16px;
    color: rgb(55, 53, 47);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notion-bookmark-image {
    flex: 1 1 180px;
    position: relative;
}

.notion-bookmark-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.notion-column .notion-bookmark-image {
    display: none;
}

@media (max-width: 640px) {
    .notion-bookmark-image {
        display: none;
    }

    .notion-row {
        flex-direction: column;
    }

    .notion-row > *,
    .notion-column > * {
        width: 100% !important;
    }
}

.notion-spacer:last-child {
    display: none;
}

.notion-image-inset {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 1px;
}

.notion-image-caption {
    padding: 6px 0;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    font-size: 14px;
    line-height: 1.4;
    color: rgba(55, 53, 47, 0.6);
}

.notion-callout {
    padding: 16px 16px 16px 12px;
    display: inline-flex;
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
    align-items: center;
    box-sizing: border-box;
    margin: 4px 0;
}
.notion-callout-text {
    margin-left: 8px;
    white-space: pre-line;
}

.notion-toggle {
    @apply p-1;
}

.notion-toggle > summary {
    @apply cursor-pointer outline-none;
}

.notion-toggle > div {
    @apply pl-4;
}

.notion-table,
.notion-th,
.notion-td {
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-collapse: collapse;
}

.notion-table {
    width: 100%;
    border-left: none;
    border-right: none;
    border-spacing: 0;
    white-space: nowrap;
}

.notion-th,
.notion-td {
    font-weight: normal;
    padding: 0.25em 0.5em;
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
    font-size: 14px;
}

.notion-td.notion-bold {
    font-weight: 500;
}

.notion-th {
    color: rgba(55, 53, 47, 0.6);
    font-size: 14px;
}

.notion-td:first-child,
.notion-th:first-child {
    border-left: 0;
}

.notion-td:last-child,
.notion-th:last-child {
    border-right: 0;
}

.notion-gallery {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: 1fr;
    gap: 16px;
    border-top: 1px solid rgba(55, 53, 47, 0.16);
    padding-top: 16px;
    padding-bottom: 4px;
}
.notion-gallery-card {
    display: block;
    color: inherit;
    text-decoration: none;
    box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px,
    rgba(15, 15, 15, 0.1) 0 2px 4px;
    border-radius: 3px;
    background: white;
    overflow: hidden;
    transition: background 100ms ease-out 0s;
    position: static;
    height: 100%;
}

.notion-gallery-content {
    padding: 8px 10px 6px;
    font-size: 12px;
    white-space: nowrap;
}

.notion-gallery-data.is-first {
    white-space: nowrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    font-size: 14px;
    line-height: 1.5;
    min-height: 21px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notion-page-header {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 100vw;
    height: 45px;
    min-height: 45px;
    display: flex;
    background: #fff;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    text-size-adjust: 100%;
    font-size: 14px;
}

.notion-nav-breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-grow: 0;
    min-width: 0;
    margin-right: 8px;
}

.notion-nav-breadcrumb {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    color: rgb(55, 53, 47);
    text-decoration: none;
    margin: 1px 0;
    padding: 4px 6px;
    border-radius: 3px;
    transition: background 120ms ease-in 0s;
    user-select: none;
    background: transparent;
    cursor: pointer;
}

img.notion-nav-icon {
    @apply w-4 h-4;
}

.notion-nav-icon {
    @apply text-black dark:text-white text-lg mr-1.5;
}

.notion-nav-breadcrumb:not(.notion-nav-breadcrumb-active):hover {
    @apply bg-neutral-100 dark:bg-neutral-800;
}

.notion-nav-breadcrumb:not(.notion-nav-breadcrumb-active):active {
    @apply bg-neutral-100 dark:bg-neutral-800;
}

.notion-nav-breadcrumb.notion-nav-breadcrumb-active {
    @apply cursor-default;
}

.notion-nav-spacer {
    @apply my-0 mx-1 text-neutral-500;
}